# Visual Studio project files.
HentaiChan Parser.pyproj
HentaiChan Parser.sln
.vs

# Parced titles data.
Covers
Titles
Logs

# Collection of title's slugs.
Collection.txt

# Python cache.
__pycache__

# WebDriver manager configuration.
.wdm